/* You can style your landing page here */
.wrapper {
  display: grid;
  grid-template-columns: 6, 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #90E1EE;
  /* background-image: url("nhLake.jpg"); */
  align-items: stretch;
}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
  color: #333;
  background: url("./nhLake.jpg");
  background-size: cover;
}
.header {
  margin: 2rem;
  border: 1px black solid;
  /*flex-direction: column;*/
  justify-content: center;
  align-content: center;
  background-color: #7FEA8F;
  /* height: 18rem;
  width: 100%; */
  text-align: center;
  grid-row: 1;
  padding: 1rem;
  /* grid-row-end: 2; */
  grid-column-start: 2;
  grid-column-end: 5;
  z-index: 2;
  
}

.catFork {
  grid-row: 3;
  /*grid-row-end: 6;*/
  grid-column: 3; 
  background-color: #41B9E0;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}
.mainThing {
 
  background-size: cover;

}
.headerText {
  height: 14rem;
  width: 70rem;
  background-color: #efbe56;
  margin: 2rem;
  text-align: center;
  padding: 2px;
}

.checkpoint2 {
   
  height: min-content;
  grid-row: 2;
  grid-column: 2;
  /*grid-column-end: 5;*/
  /* background-color: #42A1C0; */
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.games {
  display: flex;
  grid-row: 2;
  grid-column: 3;

  justify-content: center;
  align-items: stretch; 
  background-color: #42A1C0;
}
.trans {
  opacity: 1;
}
.img-thumbnail{
  height: 4rem;
  width: 4rem;
}
.jumbotron {
  
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  /* grid-column-end: 13;
  /* justify-content: space-around; */
  /* align-items:center; */

}

.carousel{
  background-image: url(./images/flexhand.jpg);
  background-size: cover;
  height: 25rem;
  width: 42rem;
}

.main1{
  color: blue;
background: url(./images/nhTile-burn.png);
background-size: cover;
background-position: center;
opacity: .77;


}
p{size: 1.5rem;}
.first{
  background: url(headcheesedark.jpg);
}

.first p{
  margin: 2rem;
  font-size: 2rem;
  font-family: Gill Sans Extrabold, sans-serif;
  color: #fde6b1;
}

/*.second{
  background: url(flexhand.jpg)*/


.tribox{
  height: 400px;
  /*width: 748px;*/

  align-items: center;
  text-align: center;
  /*color: black;*/
  display: flex;
  justify-content: space-around;
}

.flexleft{
  justify-content: center;
  /*transition: width 4s ease-in-out;*/
  background: linear-gradient(180deg blue yellow);
}

/*.flexleft:hover{
  width: 100%;
   }*/

   .flexmiddle{
     background: url(flexhand.jpg);
     height: 900px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     /*background-repeat: no-repeat;
     background-size: contain;
     color: white;*/
     /*transition: width 4s;*/
   }
   /*.flexmiddle:hover{

     width: 500px;
   }*/

.flexright{
  flex-direction: column;
  justify-content: flex-start;
}
.breathing{
  width: 300px;
  padding: 2px;
  margin: 10px auto;
  /*border: 1px solid #d1d1d1;*/
  -webkit-animation: breathing 4s ease-out infinite normal;
  animation: breathing 4s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.25);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/*different breathing patterns*/
.breathing1{
  width: 300px;
  padding: 2px;
  margin: 10px auto;
  /*border: 1px solid #d1d1d1;*/
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  }


@-webkit-keyframes breathing1 {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing1 {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.25);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}



.weeks{
  border-bottom: 2px solid black;
  width: 450px;
}
.week2{
display: table;
float: right;
/*transform: rotate(90deg);*/
/*transform-origin: right;*/
/*float:right;*/

}
.nasa{
  background: url(spaceman.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1rem;
  height: 500px;

}
.nasa img{
  height: 5em;
  width: 10em;
}

.second{
  background: url(flexhand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 500px;
}

.checkpoint1{
  background-color: black;
  height: auto;
  justify-content: center;
}
/*.content{
  width: 400px;
  height: 500px;
  background-color: aliceblue;*/

/*.pg-canvas{
  height: 700px;
  background-color: black

}

.ui-menu { width: 200px; }*/
